.categories{
    background-color: plum;
    color:white;
    padding:20px;
    display:flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
  height: 86vh;
  
}

.categories>link{
    padding-bottom: 40px;
    text-decoration: none;
}

.title{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.summary{
    width:30%;
}

.nav-link{
  color: black;
}

  /* Links on mouse-over */
  .nav-link:hover:not(.active) {
    background-color:whitesmoke;
    color: black;
    cursor: pointer;
    
    
  }


.nav-item{
 padding: 14px
  ;
  
  };

  

  @media (max-width: 771px) {

  .categories {
    width: 40%;
    padding:10px;
    margin: 5px;
  }

  .categories > span {
    font-size: 10px;
  }

}